rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /attendance/{fileName} {
      allow write: if request.auth != null
        && firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.approved == true;

      allow read: if request.auth != null;
    }
  }
}
